.App {
  font-family: /*'Montserrat',*/ sans-serif;
  text-align: center;
  padding-top: 10px;
  background-color: peachpuff;
  height: 1200px;
  background-image: url(https://i.ibb.co/BnjYJyK/little-letters.gif);
  background-position: center;
  background-repeat: repeat;
}

.RowOfLC {
  display: flex;
  justify-content: center;
  background-color: white;
  font-style: bold;
  font-size: 20px;
  flex-flow: row wrap;
  margin-top: 15px;
}

.OneLC {
  margin: 5px;
}

.MainEncrypted {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  padding-top: 20px;
  margin-top: 25px;
}

.App h1,
h2,
h3 {
  font-family: "Crimson Text", serif;
  color: #221133;
}

.App h1 {
  font-size: 42px;
}

.EncryptedWord {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 10px;
}

.LetterSpace {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 5px;
}

.InputBox {
  font-size: 15px;
  font-weight: normal;
  height: 20px;
  padding: 10px;
}

.SubmitQuote,
.QuoteButton,
.ResetButton {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  padding: 10px;
}

.LetterEntry {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Courier, monospace;
  padding: 5px;
  width: 14px;
}

.CodedLetter {
  font-size: 22px;
  font-weight: bold;
  font-family: Courier, monospace;
  padding: 5px;
}

.Punctuation {
  font-weight: bold;
  font-size: 25px;
}

.UserCryptogram {
  font-size: 20px;
  height: 40px;
}
